<p>
  <%= t :notification_text, operation: @operation, currency: @currency, kind: @kind, rate: "%.2f" % @rate.round(2) %>
</p>
<p>
  <%= t :notification_rate %> <%= "%.2f" % @current_rate %> ₽<br>
  <%= t :notification_time %> <%= l @time, format: :short %>
</p>