$('#rates').replaceWith("<%= j render :template => 'rates/index' %>");
if ($('#new_link').is(":visible"))
{
  $('#triggers').replaceWith("<%= j render :template => 'triggers/index' %>");
  $('#triggers_header').replaceWith("<h1 id='triggers_header'><%= j pluralize(@triggers.size, 'Trigger') %></h1>");
  $('#triggers_table').replaceWith("<%= j render :template => 'triggers/triggers' %>");
}
if ($('#old_rates').is(":visible"))
{
  $('#rate_count').replaceWith("<h1 id='rate_count'><%= j pluralize(Rate.sorted.size, 'Rate') %></h1>");
  $('#logs').replaceWith("<%= j render :template => 'logs/logs' %>");
  $('#old_rates').show()
}