<div id="new_trigger_form" class="col-md-4 order-md-2 mb-4">
  <h2 class="mb-3">New trigger</h2>
  <% if @trigger.errors.any? %>
    <h2 class="mb-3"><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>
    <ul>
      <% @trigger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with scope: :trigger, url: triggers_path, remote: true do |form| %>
    <div class="mb-3">
        <%= form.email_field :email, class: 'form-control', placeholder: 'Email' %> 
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 mb-3">
        <%= form.select(:currency, [["USD", 0], ["EUR", 1]], {}, { class: 'form-control' }) %>
      </div>
      <div class="col-md-4 mb-3">
        <%= form.select(:operation, [["buy", 0], ["sell", 1]], {}, { class: 'form-control' }) %>
      </div>
      <div class="col-md-4 mb-3">
        <%= form.select(:kind, [["lower", 0], ["upper", 1]], {}, { class: 'form-control' }) %>
      </div>
    </div>
    <br>
    <div class="input-group">
      <%= form.number_field :rate, in: 0.01..200.00, step:0.01, class: 'form-control', placeholder: 'Rate' %>
      <span class="input-group-addon">&#8381;</span>
    </div>
    <br>
    <%= form.submit 'Save trigger', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
