<div id="new_trigger" class="container col-sm-4">
  <h2>New trigger</h2>
  <% if @trigger.errors.any? %>
    <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>
    <ul>
      <% @trigger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with scope: :trigger, url: triggers_path, remote: true do |form| %>
    <div>
        <%= form.email_field :email, class: 'form-control', placeholder: t(:email) %>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <%= form.select(:currency, [[t(:usd), 0], [t(:eur), 1]], {}, { class: 'form-control' }) %>
      </div>
      <div class="col-sm-4">
        <%= form.select(:operation, [[t(:buy), 0], [t(:sell), 1]], {}, { class: 'form-control' }) %>
      </div>
      <div class="col-sm-4">
        <%= form.select(:kind, [[t(:lower), 0], [t(:upper), 1]], {}, { class: 'form-control' }) %>
      </div>
    </div>
    <br>
    <div class="input-group">
      <%= form.number_field :rate, in: 0.01..200.00, step:0.01, class: 'form-control', placeholder: t(:rate) %>
      <span class="input-group-addon">&#8381;</span>
    </div>
    <br>
    <%= form.submit t(:save), class: 'btn btn-primary btn-block' %>
    <br>
  <% end %>
</div>
<div class="col-sm-8">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
