<tr class="trigger" id="trigger_<%= trigger.id %>">
  <td><%= trigger.email %></td>
  <% if trigger.currency == 0 %>
    <td><%= t(:usd) %></td>
  <% else %>
    <td><%= t(:eur) %></td>
  <% end %>
  <% if trigger.operation == 0 %>
    <td><%= t(:sell) %></td>
  <% else %>
    <td><%= t(:buy) %></td>
  <% end %>
  <% if trigger.kind == 0 %>
    <td><%= t(:lower) %></td>
  <% else %>
    <td><%= t(:upper) %></td>
  <% end %>
  <td><%= "%.2f" % trigger.rate.round(2) %></td>
  <td><%= link_to t(:delete), trigger_path(trigger),
    method: :delete, remote: true, class: 'badge' %></td>
</tr>