<tr class="trigger" id="trigger_<%= trigger.id %>">
  <td><%= trigger.email %></td>
  <td><%= trigger.currency %></td>
  <td><%= trigger.operation %></td>
  <td><%= trigger.kind %></td>
  <td><%= trigger.rate %></td>
  <td><%= link_to 'Delete', trigger_path(trigger),
    method: :delete, remote: true, class: 'badge' %></td>
</tr>
