<div id="triggers">
  <div class="container col-sm-10 col-sm-offset-1">
    <h1 id="triggers_header">
      <%= t :trigger, count: @triggers.size %>
    </h1>
    <%= form_with scope: :trigger, url: triggers_update_path, remote: true do |form| %>
      <div class="row">
        <div class="col-sm-4">
          <%= form.email_field :email, class: 'form-control', placeholder: Trigger.email %>
        </div>
        <div class="col-sm-2">
          <%= form.submit t(:view), class: 'btn btn-primary btn-block' %>
        </div>
      </div>
      <br>
    <% end %>
    <% if @triggers %>
      <% cache @triggers do %>
        <%= render :template => 'triggers/triggers' %>
      <% end %>
    <% end %>
    <div class="container" id="new_link">
      <%= link_to t(:new_trigger), new_trigger_path, remote: true, class: 'badge' %>
    </div>
  </div>
  <div id="insert_form" hidden="true"></div>
</div>