<div id="triggers">
  <% cache @triggers do %>
    <div class="container">
      <h1 id="triggers_header"><%= pluralize(@triggers.size, "Trigger") %></h1>
      <%= form_with scope: :trigger, url: triggers_update_path, remote: true do |form| %>
        <div class="row">
          <div class="col-md-4">
            <%= form.email_field :email, class: 'form-control', placeholder: Trigger.get_email %>
          </div>
          <div class="col-md-2">
            <%= form.submit 'View', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
        <br>
      <% end %>
      <% if @triggers %>
        <%= render :template => 'triggers/triggers' %>
      <% end %>
    </div>
    <%= link_to 'New trigger', new_trigger_path, id: "new_link", remote: true, class: 'badge' %>
    <br>
  <% end %>
</div>