<% if @triggers.any? %>
  <table id="triggers_table" class="table">
    <thead>
      <tr>
        <th><%= t(:email) %></th>
        <th><%= t(:currency) %></th>
        <th><%= t(:operation) %></th>
        <th><%= t(:type) %></th>
        <th><%= t(:rate) %></th>
      </tr>
    </thead>
    <tfoot>
      <%= render :partial => 'triggers/trigger', :collection => @triggers %>
    </tfoot>
  </table>
<% end %>