<div id="rates" class="container">
  <% cache @current_rates do %>
    <h1>Current Rate</h1>
    <div class="col-sm-6">
      <div class="col-sm-4">
        <h4><br></h4>
        <h2>USD:</h2>
        <p><b>Average:</b></p>
        <p><b>Forecast:</b></p>
        <p><b>Spread:</b></p>
      </div>
      <div class="col-sm-4">
        <h4>buy</h4>
        <h2><%= "%.2f" % @current_rates[0].rate.round(2) %> &#8381;</h2>
        <p>
          <% if @averages[0] != 0 %>
            <%= "%.2f" % @averages[0].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
        <p>
          <% if @forecasts[0] != 0 %>
            <%= "%.2f" % @forecasts[0].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
      </div>
      <div class="col-sm-4">
        <h4>sell</h4>
        <h2><%= "%.2f" % @current_rates[1].rate.round(2) %> &#8381;</h2>
        <p>
          <% if @averages[1] != 0 %>
            <%= "%.2f" % @averages[1].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
        <p>
          <% if @forecasts[1] != 0 %>
            <%= "%.2f" % @forecasts[1].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
      </div>
      <div class="col-sm-8">
        <p><%= "%.2f" % @spreads[0].round(2) %> &#8381; (<%= @per_spreads[0].round %>%)</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-4">
        <h4><br></h4>
        <h2>EUR:</h2>
        <p><b>Average:</b></p>
        <p><b>Forecast:</b></p>
        <p><b>Spread:</b></p>
      </div>
      <div class="col-sm-4">
        <h4>buy</h4>
        <h2><%= "%.2f" % @current_rates[2].rate.round(2) %> &#8381;</h2>
        <p>
          <% if @averages[0] != 0 %>
            <%= "%.2f" % @averages[2].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
        <p>
          <% if @forecasts[2] != 0 %>
            <%= "%.2f" % @forecasts[02].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
      </div>
      <div class="col-sm-4">
        <h4>sell</h4>
        <h2><%= "%.2f" % @current_rates[3].rate.round(2) %> &#8381;</h2>
        <p>
          <% if @averages[3] != 0 %>
            <%= "%.2f" % @averages[3].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
        <p>
          <% if @forecasts[3] != 0 %>
            <%= "%.2f" % @forecasts[3].round(2) %> &#8381;
          <% else %>
            N/D
          <% end %>
        </p>
      </div>
      <div class="col-sm-8">
        <p><%= "%.2f" % @spreads[1].round(2) %> &#8381; (<%= @per_spreads[1].round %>%)</p>
      </div>
    </div>
  <% end %>
</div>